body{
    background-image: url("http://itectehuacan.edu.mx/TutoriasFinalSistema/Imagenes/backgrounds/1.jpg");

}

/*NAV BAR COLORS*/
.color_letra{
    color: #216DB4;
}
.color_letra2{
    color: #216DB4;
}
.dropdown-menu{
    background-color: white!important;
}
.dropdown-item{
    color: #216DB4 !important;
}
.dropdown-item:hover{
    color: white !important;
    text-decoration: none !important;
    background: #39B6EC !important;
}
.color_letra:hover{
    color: white;
    background: #39B6EC;
    border-radius: 40px;
    text-decoration: none;
}
.color_letra2:hover{
    color: white;
    background: #39B6EC;
    border-radius: 40px;
    text-decoration: none;
    padding: 7px;
}
.item_select{
    background-color: #39B6EC; 
    color: white; 
    border-radius: 40px;
}
.separacion_reg_ini{
    padding-right: 10px;
    padding-left: 10px;
}
/*estilos inicio de sesion*/
.ingresar_texto{
    width: 40%;
    margin-left: 30%;
}
.texto_is{
    font-style: oblique;
    color: #495057;
}
@media only screen and (min-width:0px) and (max-width:767px){
    .ingresar_texto{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (min-width:768px) and (max-width:999px){
    .ingresar_texto{
        width: 60%;
        margin-left: 19%;
    }
}

